body{
  font-size: 20px;
}
.area{
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: #d5d5d7;
        align-items: center;
}
.tab{
  font-size: 20px;
  width: 250px;
}
.currenttab{
  font-size: 20px;
  width: 250px;
  color: whitesmoke;
  background-color: blue;
}

.m0{
  margin-bottom: 0px!important;
}

.p10{
  padding: 10px;
}

.pl10{
  padding-left: 10px;
}

.m5{
  margin: 5px 0 5px 0;
}
