<!DOCTYPE html>
{% load static %}
<head>
    <title>OwlJudge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrahead %}
      <link href="{% static 'app.css' %}" rel="stylesheet">
    {% endblock %}

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% if request.path == '/' %}
   <script src="{% static 'index.js' %}"></script>
  {% elif request.path == '/results' %}
   <script src="{% static 'subresults.js' %}"></script>
  {% endif %}
<!-- Latest compiled JavaScript -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
 <header>
    <nav class="navbar navbar-dark bg-primary m0 p10">
      <!-- Navbar content -->
      <a href="{% url 'index' %}" class="navbar-brand" style="color: white;">OwlJudge</a>
       {% if user.username %}
        <div class="navbar-brand" style="color: white;margin-left:70%;font-size:15px;">{{user.username}}</div>
        <a href="{% url 'logout' %}" class="navbar-brand" style="color: white;font-size:15px;">ログアウト</a>
        {% else %}
        <a href="{% url 'login' %}" class="navbar-brand" style="color: white;margin-left:80%;font-size:15px;">ログイン</a>
        {% endif %}
    </nav>
  </header>
{% if request.path != '/login' and request.path != '/registration' %}
  <ul class="nav nav-tabs pl10">
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">CodeTest</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if '/problems' in request.path %} active {% endif %}" href="/problems">ProblemTest</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/submissions' or '/result' in request.path %} active {% endif %}" href="/submissions">Submissions</a>
  </li>
</ul>
{% endif %}
{% block content %}
{% endblock %}
