<!DOCTYPE html>
{% load static %}
<head>
    <title>OwlJudge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extrahead %}
      <link href="{% static 'app.css' %}" rel="stylesheet">
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
 <header>
    <nav class="navbar navbar-dark bg-primary">
      <!-- Navbar content -->
      <a href="/owlapp" class="navbar-brand" style="color: white;">OwlJudge</a>
    </nav>
  </header>

<div class="area">
    <form id="submit_form" action="/owlapp/submit" method="post" accept-charset="UTF-8">
        {% csrf_token %}
      <div class="form-group">
        <label for="Code" style="font-size: 20px;">Your Code:</label>
        <textarea class="form-control" id="codearea" name="code" rows="13" autocomplete="off" style="resize:none;font-size: 20px;"></textarea>
      </div>
      <div class="form-group">
        <label for="Input" style="font-size: 20px;">Standard Input:</label>
        <textarea class="form-control" id="inputarea" name="inputarea" rows="5" autocomplete="off" style="resize:none;font-size: 20px;"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1" style="font-size: 20px;">Language</label>
        <select class="form-control" id="language" name="language">
          <option>C</option>
          <option>C++</option>
          <option>Java</option>
          <option>C#</option>
          <option>Python3</option>
          <option>Ruby</option>
          <option>Brainfuck</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <label for="Result" style="font-size: 20px;">Result:</label>
    <p id='res' style="font-size: 25px;"></p>
</div>


  <script>
    $(document).ready(function() {
        $('#submit_form').submit(function() { 
            $('#res').text('Processing...');
            $('#res').css('color','black');
            $.ajax({
                'url':$('form#submit_form').attr('action'),
                'type':'POST',
                'data':$('form#submit_form').serialize(),
                'dataType':'json',
                'success':function(response){
                    if(response.result.includes('error')||response.result.includes('Error')){
                        $('#res').css('color','red');
                    }else{
                        $('#res').css('color','green');
                    }
                    $('#res').text(response.result);  
                },
            });
            return false;
        });
    });
    </script>