{% extends 'base.html' %}
{% block content %}
<div class="area">
    <form id="submit_form" action="/submit" method="post" accept-charset="UTF-8">
        {% csrf_token %}
      <div class="form-group">
        <label for="Code" style="font-size: 20px;">Your Code:</label>
        <textarea class="form-control m5" id="codearea" name="code" rows="8" autocomplete="off" style="resize:none;font-size: 15px;"></textarea>
      </div>
      <div class="form-group">
        <label for="Input" style="font-size: 20px;">Standard Input:</label>
        <textarea class="form-control m5" id="inputarea" name="inputarea" rows="4" autocomplete="off" style="resize:none;font-size: 15px;"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1" style="font-size: 20px;">Language</label>
        <select class="form-control m5" id="language" name="language">
          <option>C</option>
          <option>C++</option>
          <option>Java</option>
          <option>Python3</option>
          <option>Ruby</option>
          <option>Brainfuck</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary m5">Submit</button>
    </form>
    <br>
    <label for="Result" style="font-size: 20px;">Result:</label>
    <p class="m5" id='res' style="font-size: 25px;"></p>
    <p class="m5" id='time' style="font-size: 25px;"></p>
    <p class="m5" id='memory' style="font-size: 25px;"></p>
</div>
{% endblock %}
