{% extends 'base.html' %}
{% block content %}
<div class="area">
     {% if form.errors  %}
    <p>ユーザーID, パスワードが一致しません．</p>
    {% endif %}
    <form action="/login" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% for field in login_form %}
      <div class="form-group">
        <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
          {%if field.name == "password"%}
          <input type="password" class="form-control m5"
                 name="{{ field.name }}"
                 id="{{ field.name }}">
          {% else %}
          <input type="" class="form-control m5"
                 name="{{ field.name }}"
                 id="{{ field.name }}">
          {% endif %}
    </div>
    {% endfor %}
    <input class="btn btn-primary m5" type="submit" value="submit">
</form>

<a href="registration">新規登録はこちら</a>
</div>
{% endblock %}
