{% extends 'base.html' %}
{% block content %}
<div class="area p10">
  <p style="font-size: 30px;">{{ title }}</p>
  <p style="font-size: 20px;">{{ content | safe }}</p>
    <p style="font-size: 20px;">最後に改行を入れてください。</p>
    <form id="submit_form" action="/results" method="post" accept-charset="UTF-8">
        {% csrf_token %}
      <div class="form-group">
        <label for="Code" style="font-size: 20px;">Your Code:</label>
          <input class="form-control m5" id="problemid" name="problemid" rows="13" autocomplete="off" type="hidden" value="{{ problemid }}"></input>
        <textarea class="form-control m5" id="codearea" name="code" rows="13" autocomplete="off" style="resize:none;font-size: 20px;"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1" style="font-size: 20px;">Language</label>
        <select class="form-control m5" id="language" name="language">
          <option>C</option>
          <option>C++</option>
          <option>Java</option>
          <option>Python3</option>
          <option>Ruby</option>
          <option>Brainfuck</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary m5">Submit</button>
    </form>
</div>
{% endblock %}
