{% extends 'base.html' %}
{% block content %}
<div class="area">
    <form action="/registration" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        {% for field in registration_form  %}
      <div class="form-group">
        <label class="control-label" for="{{ field.name }}">{{ field.label }}</label>
          {%if field.name == "password"%}
          <input type="password" class="form-control m5"
                 name="{{ field.name }}"
                 id="{{ field.name }}">
          {% else %}
          <input type="" class="form-control m5"
                 name="{{ field.name }}"
                 id="{{ field.name }}">
          {% endif %}
    </div>
    {% endfor %}
    <input class="btn btn-primary m5" type="submit" value="submit">
</form>
</div>
{% endblock %}
