{% extends 'base.html' %}
{% block content %}
<div class="area">
    <table class="table">
  <caption>Submission Lists</caption>
  <tr><th>submission </th><th>problem</th><th>username</th><th>language</th><th>result</th></tr>
        {% for object in submissions%}
        <tr><th><a href="/result/{{object.judgeid}}">Submission {{object.judgeid}}</a></th><th>Problem {{object.questionnumber}}</th><th>{{object.username}}</th><th>{{object.language}}</th><th>{{object.status}}</th></tr>
        {% endfor %}
</table>
</div>
{% endblock %}
