{% extends 'base.html' %}
{% block content %}
<div class="area">
    <div style="visibility: hidden;" id="initnumber">{{initnumber}}</div>
  <p style="display: inline-block;margin: 20px;font-size: 30px;">Submission #<div id="submissionid" style="font-size: 30px;display: inline-block; _display: inline;">{{id}}</div></p>
  <p style="display: inline-block;margin: 20px;font-size: 30px;">Language:<div id="language" style="font-size: 30px;display: inline-block; _display: inline;">{{language}}</div></p>
    <p style="display: inline-block;margin: 20px;font-size: 30px;">Problem <div id="problemid" style="font-size: 30px;display: inline-block; _display: inline;">{{problemnumber}}</div></p>
  <p id="finalstatus" style="margin: 20px;font-size: 30px;">Status:{{status}}</p>
  <p style="margin: 20px;font-size: 30px;">Error Message:{{message}}</p>
  {% if status == 'WJ...' %}
    <p style="margin: 20px;font-size: 30px;">Test Case: </p>
    {% for _ in range %}
      <div style="display: flex; font-size: 30px;">
        <p style="margin-left: 50px;">case{{ forloop.counter }}.txt</p>
        <p class='caseclass' id='casestatus{{forloop.counter}}' style="margin-left: 50px;">WJ...</p>
        <p id='timeusage{{forloop.counter}}' style="margin-left: 200px;"></p>
          <p id='memoryusage{{forloop.counter}}' style="margin-left: 200px;"></p>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
